h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',
    sans-serif;
  margin: 0px;
  padding: 0px;
}

h3 {
  margin: 0px;
  padding: 0px;
}

.App {
  text-align: center;
}

.IntroductionContainer {
  padding: 100px;
  background-color: #f7f8fc;
}

.AboutMe {
  padding: 60px;
  background-color: #ebecf2;
}

.AboutMeCarousel {
  margin: auto;
  width: 50%;
}

.WorkExperience {
  padding: 60px;
  background-color: #f6f6f7;
}

.MyProjects {
  padding: 60px;
  background-color: #f6f6f7;
}

.ContactMe {
  padding: 20px;
}
